<div class="flexcol">
    <header>
        <h1 class="kanka-action-row">
            <span>{{#kankaLinkEntity }}{{ campaign.name }}{{/kankaLinkEntity}}</span>
            <button type="button" data-action="view-grid" title="{{ kankaLocalize 'browser' 'action' 'viewGrid' }}">
                <i class="fas fa-th-large"></i>
            </button>
            <button type="button" data-action="view-list" title="{{ kankaLocalize 'browser' 'action' 'viewList' }}">
                <i class="fas fa-list"></i>
            </button>
        </h1>
    </header>

    <nav class="tabs" data-group="primary-tabs">
        <a class="item" data-tab="import">
            {{ kankaLocalize 'browser' 'tabs' 'import' }}
        </a>
        {{#if deletedEntries.length }}
            <a class="item" data-tab="deleted">
                {{ kankaLocalize 'browser' 'tabs' 'delete' }}
                <span class="counter">{{deletedEntries.length}}</span>
            </a>
        {{/if}}
    </nav>

    <section class="tab-container">
        <div class="tab" data-tab="import" data-group="primary-tabs">
            {{#if campaign.entry }}
                <section class="campaign-description">
                    {{#if campaign.image }}
                        <img src="{{ kankaFileUrl campaign.image_full }}" alt="{{ campaign.name }}" class="campaign-image" />
                    {{/if}}
                    {{{ campaign.entry }}}
                </section>
            {{/if}}

            <h2 class="kanka-action-row" style="clear: both;">
                <span>{{ kankaLocalize 'browser' 'importTab' 'header' }}</span>
                <button type="button" data-action="link-all" {{#unless data}}disabled{{/unless}}>
                    <i class="fas fa-link fa-fw"></i> {{ kankaLocalize 'browser' 'action' 'linkAll' }}
                </button>
                <button type="button" data-action="update-outdated" {{#unless data}}disabled{{/unless}}>
                    <i class="fas fa-sync fa-fw"></i> {{ kankaLocalize 'browser' 'action' 'updateOutdated' }}
                </button>
            </h2>
            <form class="filter">
                <div class="form-group">
                    <label>{{ kankaLocalize 'browser' 'filter' 'label' }}</label>
                    <div class="form-fields">
                        <input type="text" name="filter" value="{{ currentFilter }}" />
                    </div>
                </div>
            </form>
            <div class="kanka-entity-list">
                {{#if data}}
                    {{#each (kankaGroupBy (kankaSortBy data 'type' 'name') 'type') as |entities type|}}
                        {{#with (lookup ../typeConfig type) as |typeConfig|}}
                            <details class="kanka-details" data-type="{{ type }}" {{#if typeConfig.isOpen}}open{{/if}}>
                                <summary class="action-row">
                                    <i class="fas {{ typeConfig.icon }}"></i>
                                    <div>
                                        {{#kankaLinkEntity type }}{{ kankaLocalize 'entityType' type }}{{/kankaLinkEntity}}
                                    </div>
                                    <div class="actions">
                                        <button type="button" data-action="link-type" data-type="{{ type }}">
                                            <i class="fas fa-link fa-fw"></i>
                                            {{ kankaLocalize 'browser' 'action' 'linkAll' }}
                                        </button>
                                        <button type="button" data-action="update-outdated" data-type="{{ type }}">
                                            <i class="fas fa-sync fa-fw"></i>
                                            {{ kankaLocalize 'browser' 'action' 'updateOutdated' }}
                                        </button>
                                    </div>
                                </summary>
                                {{#if (kankaIsOneOf ../../settings.view 'grid')}}
                                    {{>./entities/grid entities=entities}}
                                {{else}}
                                    {{>./entities/list entities=entities}}
                                {{/if}}
                            </details>
                        {{/with}}
                    {{/each}}
                {{else}}
                    <div class="kanka-loading-indicator"><i class="fas fa-spinner"></i></div>
                {{/if}}
            </div>
        </div>
        <div class="tab" data-tab="deleted" data-group="primary-tabs">
            <h2 class="kanka-action-row" style="clear: both;">
                <span>{{ kankaLocalize 'browser' 'deleteTab' 'header' }}</span>
                <button type="button" data-action="delete-all">
                    <i class="fas fa-trash fa-fw"></i> {{ kankaLocalize 'browser' 'action' 'deleteAll' }}
                </button>
            </h2>
            <p>{{ kankaLocalize 'browser' 'deleteTab' 'description' }}</p>
            {{#if (kankaIsOneOf settings.view 'grid')}}
                {{>./deletedEntries/grid deletedEntries=deletedEntries}}
            {{else}}
                {{>./deletedEntries/list deletedEntries=deletedEntries}}
            {{/if}}
        </div>
    </section>
</div>