<div class="kanka-gallery">
    {{#each (kankaFilterAccessible entity.entity_assets)}}
        {{#if (eq this.type_id 1)}}
        <!-- File -->
            {{#if (eqRegex this.metadata.type '^image/.*') }}
                <div class="interactive{{#if (kankaIsSecret this) }} -secret{{/if}}">
                    <img src="{{kankaFileUrl this._url}}" alt="{{this.name}}" />
                    <strong>
                        {{#if (kankaIsSecret this) }}<i class="fas fa-lock fw"></i>{{/if}}
                        {{ this.name }}
                    </strong>
                    <small>{{ kankaFileSize this.metadata.size }}</small>
                </div>
            {{else}}
                <a href="{{this._url}}" target="_blank"{{#if (kankaIsSecret this) }} class="-secret"{{/if}}>
                    {{ kankaFileIcon this.metadata.type }}
                    <strong>
                        {{#if (kankaIsSecret this) }}<i class="fas fa-lock fw"></i>{{/if}}
                        {{ this.name }}
                    </strong>
                    <small>{{ kankaFileSize this.metadata.size }}</small>
                </a>
            {{/if}}
        {{else if (eq this.type_id 2)}}
            <!-- Link -->
            <a href="{{ this.metadata.url }}" target="_blank"{{#if (kankaIsSecret this) }} class="-secret"{{/if}}>
                <i class="fas {{ this.metadata.icon }} fw"></i>
                <strong>
                    {{#if (kankaIsSecret this) }}<i class="fas fa-lock fw"></i>{{/if}}
                    {{ this.name }}
                </strong>
                <small>Link</small>
            </a>
        {{else if (eq this.type_id 3)}}
            <!-- Alias -->
            <div {{#if (kankaIsSecret this) }} class="-secret"{{/if}}>
                <i class="fas fa-arrow-right fw"></i>
                <strong>
                    {{#if (kankaIsSecret this) }}<i class="fas fa-lock fw"></i>{{/if}}
                    {{ this.name }}
                </strong>
                <small>Alias</small>
            </div>
        {{/if}}
    {{/each}}
</div>
