<div class="kanka-gallery">
    {{#each (kankaFilterAccessible entity.entity_files)}}
        <a href="{{ this.path }}" target="_blank"{{#if (kankaIsSecret this) }} class="-secret"{{/if}}>
            {{#if (kankaEq this.type 'regex:^image/.*') }}
                <img src="{{this.path}}" alt="{{this.name}}" />
            {{else}}
                {{ kankaFileIcon this.type }}
            {{/if}}
            <strong>
                {{#if (kankaIsSecret this) }}<i class="fas fa-lock fw"></i>{{/if}}
                {{ this.name }}
            </strong>
            <small>{{ kankaFileSize this.size }}</small>
        </a>
    {{/each}}
</div>
