{{#>../shared/baseLayout}}
    {{#*inline 'nav'}}
        {{>../shared/tabNav
            name='organisations'
            label='character.tabs.organisations'
            collection=kankaEntity.organisations.data
            idProperty='organisation_id'
            type='organisation'
            showCount=true
        }}
    {{~/inline}}

    {{#*inline 'profile'~}}
        {{~>../shared/detailRow value=kankaEntity.type label='shared.labels.type' }}
        {{~>../shared/detailRow value=kankaEntity.title label='character.labels.title' }}
        {{~>../shared/detailRow value=kankaEntity.sex label='character.labels.sex' }}
        {{~>../shared/detailRow value=kankaEntity.pronouns label='character.labels.pronouns' }}
        {{~>../shared/detailRow value=kankaEntity.age label='character.labels.age' }}
        {{~>../shared/detailRow value=kankaEntity.is_dead label='character.labels.isDead' localizeValue='shared.value' }}
        {{~>../shared/detailRow value=kankaEntity.location_id type='location' label='shared.labels.location' reference=true }}
        {{~>../shared/detailRow value=kankaEntity.race_id type='race' label='character.labels.race' reference=true }}
        {{~>../shared/detailRow value=kankaEntity.family_id type='family' label='character.labels.family' reference=true }}

        {{~#with (kankaFilterBy (kankaFilterReferences kankaEntity.organisations.data) 'pin_id' 'regex:1|3') as | starred |~}}
            {{~#each starred ~}}
                {{~>../shared/detailRow value=organisation_id type='organisation' rawLabel=role label='character.labels.member' reference=true isSecret=(kankaIsSecret this) }}
            {{~/each~}}
        {{~/with~}}
    {{~/inline}}

    {{#*inline 'additionalDetails'~}}
        {{~#each (kankaGroupBy (kankaSortBy kankaEntity.traits 'section') 'section')~}}
            {{~#if (or (ne @key 'personality') ../kankaEntity.is_personality_visible ../owner)~}}
                <div class="kanka-card {{#unless (or ../kankaEntity.is_personality_visible (eq @key 'appearance')) }}-secret{{/unless}}">
                    <h2 class="kanka-card-header">{{kankaLocalize 'journal.character.traits' @key}}</h2>
                    <div class="kanka-card-content -outdent">
                        <dl class="kanka-grid -borderless">
                            {{~#each (kankaSortBy this 'default_order')~}}
                                {{~>../shared/detailRow value=entry rawLabel=name }}
                            {{~/each~}}
                        </dl>
                    </div>
                </div>
            {{~/if~}}
        {{~/each~}}
    {{~/inline}}

    {{#*inline 'content'}}
        <div class="tab -scrollable" data-tab="organisations" data-group="primary-tabs">
            <ul class="kanka-cards">
                {{#each kankaEntity.organisations.data }}
                    {{#with this as | rel | }}
                        {{#with (kankaFindReference rel.organisation_id 'organisation') as | org | }}
                            <li class="kanka-card {{#if (kankaIsSecret rel org) }}-secret{{/if}}">
                                {{#if org.thumb}}
                                    <div class="kanka-avatar">
                                        <img src="{{kankaFileUrl org.thumb}}" alt="{{org.name}}">
                                    </div>
                                {{/if}}

                                <h2 class="kanka-card-header">{{{ kankaLinkReference org }}}</h2>
                                <div class="kanka-card-content">{{ kankaReplaceMentions rel.role }}</div>
                            </li>
                        {{/with}}
                    {{/with}}
                {{/each}}
            </ul>
        </div>
    {{~/inline}}
{{/../shared/baseLayout}}
