{{#with (lookup (kankaFilterReferences collection idProperty type optionalReference=optionalReference) 'length') as |count| }}
    {{#if (or count (eq ../showCount undefined) (eq ../showCount false))}}
        <a class="item" data-tab="{{../name}}">
            {{#if ../labelString}}
                {{../labelString}}
            {{else}}
                {{ kankaLocalize 'journal' ../label }}
            {{/if}}
            {{#if ../showCount}}<span class="counter">{{count}}</span>{{/if}}
        </a>
    {{/if}}
{{/with}}
