{{#>../shared/baseLayout}}
    {{#*inline 'nav'}}
        {{>../shared/tabNav
            name='elements'
            label='quest.tabs.elements'
            collection=kankaEntity.elements
            idProperty='entity_id'
            showCount=true
        }}
    {{~/inline}}

    {{#*inline 'profile'~}}
        {{~>../shared/detailRow value=kankaEntity.type label='shared.labels.type'~}}
        {{~>../shared/detailRowArray references=kankaEntity.ancestors label='shared.labels.parent' }}
        {{~>../shared/detailRow value=kankaEntity.character_id type='quest' label='quest.labels.instigator' reference=true~}}
        {{~>../shared/detailRow value=kankaEntity.date label='quest.labels.date'~}}
        {{~>../shared/detailRow value=kankaEntity.is_completed label='quest.labels.completed' localizeValue='shared.value'~}}
    {{~/inline}}

    {{#*inline 'content'}}
        <div class="tab -scrollable" data-tab="elements" data-group="primary-tabs">
            <ul class="kanka-cards">
                {{#each kankaEntity.elements }}
                    {{#with this as | rel | }}
                        {{#with (kankaFindReference rel.entity_id) as | element | }}
                            <li class="kanka-card {{#if (kankaIsSecret rel element) }}-secret{{/if}}">
                                <div class="kanka-avatar" {{#if rel.colour}}style="--highlight-color: {{ rel.colour }}"{{/if}}>
                                    {{#if element.thumb}}
                                        <img src="{{kankaFileUrl element.thumb}}" alt="{{element.name}}" />
                                    {{/if}}
                                </div>

                                <h2 class="kanka-card-header">{{{ kankaLinkReference element }}}</h2>
                                <div class="kanka-card-content">
                                    {{#if rel.role}}<strong>{{ kankaReplaceMentions rel.role }}</strong><br/>{{/if}}
                                    {{{ kankaReplaceMentions rel.description_parsed }}}
                                </div>
                            </li>
                        {{else}}
                            <li class="kanka-card {{#if (kankaIsSecret rel) }}-secret{{/if}}">
                                <div class="kanka-avatar" {{#if rel.colour}}style="--highlight-color: {{ rel.colour }}" {{/if}}></div>
                            
                                <h2 class="kanka-card-header">{{{ rel.name }}}</h2>
                                <div class="kanka-card-content">
                                    {{#if rel.role}}<strong>{{ kankaReplaceMentions rel.role }}</strong><br />{{/if}}
                                    {{{ kankaReplaceMentions rel.description_parsed }}}
                                </div>
                            </li>
                        {{/with}}
                    {{/with}}
                {{/each}}
            </ul>
        </div>
    {{~/inline}}
{{/../shared/baseLayout}}
