<ul class="kanka-entity-list">
    {{#each (kankaSortBy entities 'name')}}
        <li
            class="kanka-action-row {{#if (kankaHasJournalEntry this.id)}}-success{{/if}} {{#if (kankaIsEntityOutdated this)}}-warn{{/if}}"
            data-filter-text="{{ kankaToLowerCase this.name }}"
        >
            <div>
                <div class="kanka-avatar -small">
                    {{#if (kankaIsEntityOutdated this)}}
                        <span><i class="fas fa-cloud-download-alt"></i></span>
                    {{else}}
                        {{#if this.is_private}}
                            <span><i class="fas fa-lock"></i></span>
                        {{/if}}
                    {{/if}}
                    <img src="{{ kankaFileUrl this.child.image_thumb }}" alt="{{this.name}}" />
                </div>
                {{#if this.is_template}}<i class="far fa-copy" title="{{ kankaLocalize 'browser' 'label' 'template' }}"></i>{{/if}}
                {{#kankaLinkEntity this.type this.child_id }}{{ this.name }}{{/kankaLinkEntity}}

            </div>
            {{#if (kankaHasJournalEntry this.id)}}
                <button type="button" data-action="open" data-id="{{ this.id }}" class="kanka-button">
                    <i class="fas fa-book-open"></i>
                    {{ kankaLocalize 'browser' 'action' 'openJournal' }}
                </button>
            {{/if}}
            <button type="button" data-action="sync" data-id="{{ this.id }}" class="kanka-button">
                {{#if (kankaHasJournalEntry this.id)}}
                    <i class="fas fa-sync"></i> {{ kankaLocalize 'browser' 'action' 'updateSingle' }}
                {{else}}
                    <i class="fas fa-link"></i> {{ kankaLocalize 'browser' 'action' 'linkSingle' }}
                {{/if}}
            </button>
        </li>
    {{/each }}
</ul>
