<ul class="kanka-cards">
    {{#each (kankaSortBy (kankaFilterAccessible entity.entity_abilities) 'position')}}
        {{#with this as | ability | }}
            {{#with (kankaFindReference ability_id 'ability') as | ref | }}
                <li class="kanka-card {{#if (kankaIsSecret ability ref) }}-secret{{/if}}">
                    <div class="kanka-avatar">
                        {{#if ability.charges}}<span>{{ability.charges}}</span>{{/if}}
                        {{#if ref.thumb}}
                            <img src="{{kankaFileUrl ref.thumb}}" alt="{{ref.name}}" />
                        {{/if}}
                    </div>
                    <h2 class="kanka-card-header">{{{ kankaLinkReference ref }}}</h2>
                    <div class="kanka-card-content">{{{ kankaReplaceMentions ability.note }}}</div>
                </li>
            {{/with}}
        {{/with}}
    {{/each}}
</ul>