<ul class="kanka-cards">
    {{#each (kankaGroupBy (kankaSortBy (kankaFilterAccessible entity.inventory) 'position') 'position')}}
        {{#if @key}}<li class="section"><h2>{{@key}}</h2></li>{{/if}}
        {{#each this}}
            {{#with this as | item | }}
                {{#with (kankaFindReference item.item_id 'item') as | ref | }}
                    <li class="kanka-card {{#if (kankaIsSecret item ref) }}-secret{{/if}}">
                        <div class="kanka-avatar">
                            {{#if item.amount}}
                                <span>{{ item.amount }}</span>
                            {{/if}}
                            {{#if ref.thumb}}
                                <img src="{{kankaFileUrl ref.thumb}}" alt="{{ref.name}}" />
                            {{/if}}
                        </div>

                        <h2 class="kanka-card-header">
                            {{#if item.is_equipped}}<i class="fas fa-check-circle"></i>{{/if}}
                            {{#kankaLinkReference ref }}{{{item.name}}}{{/kankaLinkReference}}
                        </h2>
                        <div class="kanka-card-content">
                            {{{ kankaReplaceMentions item.description }}}
                        </div>
                    </li>
                {{else}}
                    {{#unless item.item_id}}
                        <li class="kanka-card {{#if (kankaIsSecret item) }}-secret{{/if}}">
                            <div class="kanka-avatar">
                                {{#if item.amount}}
                                    <span>{{ item.amount }}</span>
                                {{/if}}
                            </div>

                            <h2 class="kanka-card-header">
                                {{#if item.is_equipped}}<i class="fas fa-check-circle"></i>{{/if}}
                                {{{item.name}}}
                            </h2>
                            <div class="kanka-card-content">
                                {{{ kankaReplaceMentions item.description }}}
                            </div>
                        </li>
                    {{/unless}}
                {{/with}}
            {{/with}}
        {{/each}}
    {{/each}}
</ul>