{{#each (kankaSortBy (kankaFilterAccessible entity.entity_notes) 'position' )}}
    {{#if (lt this.position 0)}}
        <details
            class="kanka-details kanka-card {{#if (kankaIsSecret this) }}-secret{{/if}}"
            {{#unless (kankaToInt settings.collapsed) }}open{{/unless}}
        >
            <summary class="kanka-card-header">{{{ name }}}</summary>
            <div class="kanka-card-content">{{ kankaReplaceMentions entry_parsed }}</div>
        </details>
    {{/if}}
{{/each}}

<details class="kanka-details kanka-card -static"
    {{#unless (kankaToInt settings.collapsed) }}open{{/unless}}
>
    <summary class="kanka-card-header">{{ kankaLocalize 'journal.shared.labels.entry' }}</summary>
    <div class="kanka-card-content">{{ kankaReplaceMentions entity.entry_parsed }}</div>
</details>

{{#each (kankaSortBy (kankaFilterAccessible entity.entity_notes) 'position' )}}
    {{#if (gte this.position 0)}}
        <details
            class="kanka-details kanka-card {{#if (kankaIsSecret this) }}-secret{{/if}}"
            {{#unless (kankaToInt settings.collapsed) }}open{{/unless}}
        >
            <summary class="kanka-card-header">{{{ name }}}</summary>
            <div class="kanka-card-content">{{ kankaReplaceMentions entry_parsed }}</div>
        </details>
    {{/if}}
{{/each}}