<form class="flexcol {{cssClass}}" autocomplete="off">
    <h1 class="kanka-action-row">
        <span>{{kankaEntity.name}}</span>
        {{#if kankaIsGm}}
            {{#kankaLinkEntity kankaEntityType kankaEntity.id }}
                <img
                    src="{{kankaLogo}}"
                    alt="{{ kankaLocalize 'journal' 'shared' 'action' 'openInKanka' }}"
                    title="{{ kankaLocalize 'journal' 'shared' 'action' 'openInKanka' }}"
                    class="nopopout"
                />
            {{/kankaLinkEntity}}
            <button data-action="refresh" class="kanka-button write-action">
                <i class="fas fa-sync"></i> {{ kankaLocalize 'journal' 'shared' 'action' 'refresh' }}
            </button>
        {{/if}}
    </h1>

    <nav class="tabs" data-group="primary-tabs">
        {{>./tabNav name='story' label='shared.tabs.story'}}
        {{#unless (kankaHasOnlyPinned kankaEntity.attributes 'is_star')}}
            {{>./tabNav
                name='attributes'
                label='shared.tabs.attributes'
                collection=kankaEntity.attributes
            }}
        {{/unless}}
        {{#if kankaEntity.children.length}}
            {{>./tabNav
                name='children'
                labelString=(kankaLocalize 'entityType' kankaEntityType)
                collection=kankaEntity.children
                idProperty='entity_id'
                showCount=true
            }}
        {{/if}}
        {{#>nav}}{{/nav}}
        {{>./tabNav
            name='relations'
            label='shared.tabs.relations'
            collection=kankaEntity.relations
            idProperty='target_id'
            showCount=true
        }}
        {{>./tabNav
            name='inventory'
            label='shared.tabs.inventory'
            collection=kankaEntity.inventory
            idProperty='item_id'
            type='item'
            optionalReference=true
            showCount=true
        }}
        {{>./tabNav
            name='entity-abilities'
            label='shared.tabs.abilities'
            collection=kankaEntity.entity_abilities
            idProperty='ability_id'
            type='ability'
            showCount=true
        }}
        {{>./tabNav
            name='entity-files'
            label='shared.tabs.files'
            collection=kankaEntity.entity_assets
            showCount=true
        }}
    </nav>

    <section class="tab-container -scrollable">
        <div class="tab -scrollable" data-tab="story" data-group="primary-tabs">
            <div class="image-column">
                {{~#if kankaEntity.image_full ~}}
                    {{~#if settings.imageInText~}}
                        <img src="{{kankaFileUrl kankaEntity.image_full}}" alt="{{name}}" />
                    {{~/if~}}
                {{~/if~}}

                {{~#>additionalDetails~}}{{~/additionalDetails~}}
            </div>

            <dl class="kanka-grid">
                {{~#>profile~}}{{~/profile~}}
                {{~#with (kankaFilterBy (kankaFilterReferences kankaEntity.relations) 'is_star' true) as | starred |~}}
                    {{~#each starred ~}}
                        {{~>./detailRow value=target_id rawLabel=relation reference=true isSecret=(kankaIsSecret this) }}
                    {{~/each~}}
                {{~/with~}}
                {{~#with (kankaSortBy (kankaFilterBy (kankaFilterAccessible kankaEntity.attributes) 'is_star' true) 'default_order') as | starred |~}}
                    {{~#each starred ~}}
                        {{~>./tabs/attributeEntry attribute=this~}}
                    {{~/each~}}
                {{~/with~}}
            </dl>

            {{>./tabs/posts entity=kankaEntity}}
        </div>
        <div class="tab -scrollable" data-tab="attributes" data-group="primary-tabs">
            {{>./tabs/attributes entity=kankaEntity}}
        </div>
        <div class="tab -scrollable" data-tab="children" data-group="primary-tabs">
            {{>./tabs/children entity=kankaEntity}}
        </div>
        <div class="tab -scrollable" data-tab="relations" data-group="primary-tabs">
            {{>./tabs/relations entity=kankaEntity}}
        </div>
        <div class="tab -scrollable" data-tab="inventory" data-group="primary-tabs">
            {{>./tabs/inventory entity=kankaEntity}}
        </div>
        <div class="tab -scrollable" data-tab="entity-abilities" data-group="primary-tabs">
            {{>./tabs/abilities entity=kankaEntity}}
        </div>
        <div class="tab -scrollable" data-tab="entity-files" data-group="primary-tabs">
            {{>./tabs/files entity=kankaEntity}}
        </div>
        {{#>content}}{{/content}}
    </section>
</form>
