{{~#if references.length ~}}
    <tr {{#if ../isSecret}}class="-secret" {{/if}}>
        <td>
            {{~#if rawLabel~}}
                {{~rawLabel~}}
            {{~else~}}
                {{~ kankaLocalize 'journal' label ~}}
            {{~/if~}}
        </td>
        <td>
            {{~#each references as | referenceId |~}}
                {{~ kankaFindReference referenceId ../type ~}}
                {{#unless @last}}
                    <span class="delimiter">{{#if ../delimiter}}{{../delimiter}}{{else}}»{{/if}}</span>
                {{/unless}}
            {{~/each~}}
        </td>
    </tr>
{{~/if~}}