{{~#if reference ~}}
    {{~#with (kankaFindReference value type) as | ref |~}}
    <tr {{#if ../isSecret}}class="-secret"{{/if}}>
        <td>
            {{~#if ../rawLabel~}}
                {{~../rawLabel~}}
            {{~else~}}
                {{~ kankaLocalize 'journal' ../label ~}}
            {{~/if~}}
        </td>
        <td>{{{ ref.link }}}</td>
    </tr>
    {{~/with~}}
{{~else~}}
    {{~#if value ~}}
    <tr {{#if isSecret}}class="-secret"{{/if}}>
        <td>
            {{~#if rawLabel~}}
                {{~rawLabel~}}
            {{~else~}}
                {{~ kankaLocalize 'journal' label ~}}
            {{~/if~}}
        </td>
        <td>
            {{~#if localizeValue ~}}
                {{ kankaLocalize 'journal' localizeValue value }}
            {{~else~}}
                {{{ value }}}
            {{~/if~}}
        </td>
    </tr>
    {{~/if~}}
{{~/if~}}