{{~#if references.length ~}}
    <tr {{#if ../isSecret}}class="-secret" {{/if}}>
        <td>
            {{~#if rawLabel~}}
                {{~rawLabel~}}
            {{~else~}}
                {{~ kankaLocalize 'journal' label ~}}
            {{~/if~}}
        </td>
        <td>
            {{~#each references as | referenceId |~}}
                {{~#with (kankaFindReference referenceId ../type) as | ref |~}}
                    {{~ref.name~}}
                    {{#unless @last}}
                        <span class="delimiter">{{#if ../delimiter}}{{../delimiter}}{{else}}»{{/if}}</span>
                    {{/unless}}
                {{~/with~}}
            {{~/each~}}
        </td>
    </tr>
{{~/if~}}