<ul class="kanka-entity-list">
    {{#each (kankaSortBy deletedEntries 'name')}}
        <li class="kanka-action-row">
            <div>
                <div class="kanka-avatar -small">
                    <img src="{{ kankaFileUrl this.image_thumb }}" alt="{{this.name}}" />
                </div>
                {{ this.name }}
            </div>
            <button type="button" data-action="open" data-id="{{ this.entity_id }}" class="kanka-button">
                <i class="fas fa-book-open fa-fw"></i> {{ kankaLocalize 'browser' 'action' 'openJournal' }}
            </button>
            <button type="button" data-action="delete" data-id="{{ this.entity_id }}" class="kanka-button">
                <i class="fas fa-trash fa-fw"></i> {{ kankaLocalize 'browser' 'action' 'delete' }}
            </button>
        </li>
    {{/each }}
</ul>
